@import url(partials.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--poppins);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-600);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-600);
    -webkit-box-shadow: 0px 50px 110px -11px rgba(255, 255, 255, 0.59);
    -moz-box-shadow: 0px 50px 110px -11px rgba(255, 255, 255, 0.59);
    box-shadow: 0px 3px 20px -11px rgba(255, 255, 255, 0.59);
}

nav h2 {
    text-transform: uppercase;
}

.landing_sec {
    height: 100vh;
}

.landing_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.landing_main .landing__left_sec {
    width: 50%;
}

.landing_main .landing__left_sec h1 {
    font-size: 50px;
}

.landing_main .landing__right_sec {
    padding-top: 50px;
    display: flex;
    justify-content: end;
    width: 50%;
}

#form_btn {
    background-color: #fff;
    padding: 15px 30px;
    color: var(--color-600);
    font-weight: 700;
    border-radius: 5px;
}

.form_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    align-items: center;
    padding: 30px;
    padding-bottom: 100px;
}

label {
    color: #ccc;
    display: flex;
}

.inputs {
    margin-bottom: 10px;
}

.sex_radio {
    display: flex;
    justify-content: start;
    gap: 30px;
}

.radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-design {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.radio-design::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-design::before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-button input[type="radio"]:focus~.radio-design {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.radio-button input[type="radio"]:hover~.radio-design {
    border-color: #007bff;
}

.label {
    font-weight: 700;
    letter-spacing: 1px;
}

.high_q h5,
.disability h5 {
    font-weight: 700;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

select {
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: #ccc;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

option {
    padding-top: 10px;
    background-color: var(--color-600);
    color: #ccc;
}

.rural_selection {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}


.chew-slider{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.chew-slider label{
    margin-bottom: 10px;
}

.range-slider {
    width: 100%;
    display: flex;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f70000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #555;
}

.slider::-moz-range-thumb:hover {
    background: #555;
}

.slider::-webkit-slider-thumb:active {
    background: #333;
}

.slider::-moz-range-thumb:active {
    background: #333;
}

.chew-value, .smoke-value {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn_submit{
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    color: var(--color-600);
    font-weight: 700;
}

.input-field {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  .input-field:focus {
    outline: none;
    border-bottom-color: #007bff;
  }
  
  .input-field::placeholder {
    color: #999;
    font-style: italic;
  }